{% extends "::base.html.twig" %}

{% block title %}DOJOGameOfThronesBundle:Royaume:addRoyaume{% endblock %}

{% block body %}
<h1>Welcome to the Royaume:addRoyaume page</h1>
    {{ message }} <br>
    Royaume {{ royaume.nom }} a été ajouté.
{% endblock %}
